@import url(composants/banner.css);
@import url(composants/avatar.css);
@import url(composants/bouton.css);
@import url(composants/containers.css);
@import url(composants/menu.css);
@import url(composants/images.css);
@import url(composants/navbar.css);
@import url(composants/inspirations.css);
@import url(composants/contacts.css);
@import url(composants/footer.css);


*{
    padding: 0;
    margin: 0;
    box-sizing:border;
}

body {
    background-color: rgb(29, 29, 29);
}


.text-center {
    color: white;
    animation: color-change 10s infinite;
}

@keyframes color-change {
    0% { color: #8700ca; }
    16% {color: #7535d9; }
    32% { color: #00a59f; }
    48% { color: #0192d8; }
    64% { color: #c34800;}
    80% {color: #da007c;}
    96% {color:plum;}
    100% {color:#8700ca;}
}

@media screen and (max-width: 900px) {
    h1 {
        font-size: 15px;
    }

    p {
        font-size: 10px;
    }

    .bannière {
        width: 100%;
    }
}